<a href="https://colab.research.google.com/github/ridhima31/VIZ-Test/blob/master/Pyspark_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install PySpark

Collecting PySpark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from PySpark) (0.10.9.7)
Building wheels for collected packages: PySpark
  Building wheel for PySpark (setup.py) ... done
  Created wheel for PySpark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=57ae8162dcaea8751a3b00c3fc798621237b9a7e585412b1873538e0505eb790
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built PySpark
Installing collected packages: PySpark
Successfully installed PySpark-3.5.0

In [13]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [39]:
file_path='https://raw.githubusercontent.com/tirthajyoti/Spark-with-Python/master/Python-and-Spark-for-Big-Data-master/Spark_DataFrame_Project_Exercise/walmart_stock.csv'

In [15]:
spark=SparkSession.builder.appName("TestingSpark").getOrCreate()

In [21]:
import pandas as pd

In [40]:
pdf=pd.read_csv(file_path)

In [41]:
spark_df=spark.createDataFrame(pdf)

In [43]:
spark_df.show(10)

+----------+---------+---------+---------+---------+--------+---------+
|      Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+----------+---------+---------+---------+---------+--------+---------+
|2012-01-03|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|2012-01-04|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|
|2012-01-05|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|
|2012-01-06|59.419998|59.450001|58.869999|     59.0| 8069400| 51.45922|
|2012-01-09|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|
|2012-01-10|    59.43|59.709999|    58.98|59.040001| 6907300|51.494109|
|2012-01-11|59.060001|59.529999|59.040001|59.400002| 6365600|51.808098|
|2012-01-12|59.790001|     60.0|59.400002|     59.5| 7236400|51.895316|
|2012-01-13|    59.18|59.610001|59.009998|59.540001| 7729300|51.930204|
|2012-01-17|59.869999|60.110001|    59.52|59.849998| 8500000|52.200581|
+----------+---------+---------+---------+---------+--------+---------+
only showing top 10 rows

In [46]:
spark_df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [51]:
spark_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: double (nullable = true)

In [54]:
spark_df.describe().show()

+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|             Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|             1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      NULL|72.35785375357703|72.83938807631154|71.91860095945944|72.38844998012719|8222093.481717011| 67.2388384872814|
| stddev|      NULL|6.768090244708284|6.768186808159222|6.744075756255509|6.756859163732981|  4519780.8431556|6.722609449996835|
|    min|2012-01-03|        56.389999|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|        90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [64]:
from typing import cast

In [71]:
df1=spark_df.withColumn("HV Ratio",F.round((spark_df["High"]/spark_df["Volume"])))

In [72]:
df1.show()

+----------+---------+---------+---------+---------+--------+------------------+--------+
|      Date|     Open|     High|      Low|    Close|  Volume|         Adj Close|HV Ratio|
+----------+---------+---------+---------+---------+--------+------------------+--------+
|2012-01-03|59.970001|61.060001|59.869999|60.330002|12668800|         52.619235|     0.0|
|2012-01-04|60.209999|60.349998|59.470001|59.709999| 9593300|         52.078475|     0.0|
|2012-01-05|59.349998|59.619999|58.369999|59.419998|12768200|         51.825539|     0.0|
|2012-01-06|59.419998|59.450001|58.869999|     59.0| 8069400|          51.45922|     0.0|
|2012-01-09|59.029999|59.549999|58.919998|    59.18| 6679300|         51.616215|     0.0|
|2012-01-10|    59.43|59.709999|    58.98|59.040001| 6907300|         51.494109|     0.0|
|2012-01-11|59.060001|59.529999|59.040001|59.400002| 6365600|         51.808098|     0.0|
|2012-01-12|59.790001|     60.0|59.400002|     59.5| 7236400|         51.895316|     0.0|
|2012-01-13|    59.18|59.610001|59.009998|59.540001| 7729300|         51.930204|     0.0|
|2012-01-17|59.869999|60.110001|    59.52|59.849998| 8500000|         52.200581|     0.0|
|2012-01-18|59.790001|60.029999|59.650002|60.009998| 5911400|         52.340131|     0.0|
|2012-01-19|    59.93|    60.73|    59.75|60.610001| 9234600|         52.863447|     0.0|
|2012-01-20|    60.75|    61.25|60.669998|61.009998|10378800|         53.212321|     0.0|
|2012-01-23|60.810001|    60.98|60.509998|    60.91| 7134100|         53.125104|     0.0|
|2012-01-24|    60.75|     62.0|    60.75|61.389999| 7362800| 53.54375400000001|     0.0|
|2012-01-25|    61.18|61.610001|61.040001|61.470001| 5915800| 53.61353100000001|     0.0|
|2012-01-26|61.799999|    61.84|    60.77|60.970001| 7436200|         53.177436|     0.0|
|2012-01-27|60.860001|61.119999|60.540001|60.709999| 6287300|         52.950665|     0.0|
|2012-01-30|60.470001|    61.32|60.349998|61.299999| 7636900|         53.465257|     0.0|
|2012-01-31|61.529999|    61.57|60.580002|61.360001| 9761500|53.517590000000006|     0.0|
+----------+---------+---------+---------+---------+--------+------------------+--------+
only showing top 20 rows

In [69]:
df2=spark_df.withColumn("HV Ratio",(spark_df["High"]/spark_df["Volume"]))

In [70]:
df2.show()

+----------+---------+---------+---------+---------+--------+------------------+--------------------+
|      Date|     Open|     High|      Low|    Close|  Volume|         Adj Close|            HV Ratio|
+----------+---------+---------+---------+---------+--------+------------------+--------------------+
|2012-01-03|59.970001|61.060001|59.869999|60.330002|12668800|         52.619235|4.819714653321546E-6|
|2012-01-04|60.209999|60.349998|59.470001|59.709999| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|59.349998|59.619999|58.369999|59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|59.419998|59.450001|58.869999|     59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|59.029999|59.549999|58.919998|    59.18| 6679300|         51.616215|8.915604778943901E-6|
|2012-01-10|    59.43|59.709999|    58.98|59.040001| 6907300|         51.494109|8.644477436914568E-6|
|2012-01-11|59.060001|59.529999|59.040001|59.400002| 6365600|         51.808098|9.351828421515645E-6|
|2012-01-12|59.790001|     60.0|59.400002|     59.5| 7236400|         51.895316| 8.29141562102703E-6|
|2012-01-13|    59.18|59.610001|59.009998|59.540001| 7729300|         51.930204|7.712212102001474E-6|
|2012-01-17|59.869999|60.110001|    59.52|59.849998| 8500000|         52.200581|7.071764823529411...|
|2012-01-18|59.790001|60.029999|59.650002|60.009998| 5911400|         52.340131|1.015495466386981E-5|
|2012-01-19|    59.93|    60.73|    59.75|60.610001| 9234600|         52.863447|6.576354146362592...|
|2012-01-20|    60.75|    61.25|60.669998|61.009998|10378800|         53.212321| 5.90145296180676E-6|
|2012-01-23|60.810001|    60.98|60.509998|    60.91| 7134100|         53.125104|8.547679455011844E-6|
|2012-01-24|    60.75|     62.0|    60.75|61.389999| 7362800| 53.54375400000001|8.420709512685392E-6|
|2012-01-25|    61.18|61.610001|61.040001|61.470001| 5915800| 53.61353100000001|1.041448341728929...|
|2012-01-26|61.799999|    61.84|    60.77|60.970001| 7436200|         53.177436|8.316075414862431E-6|
|2012-01-27|60.860001|61.119999|60.540001|60.709999| 6287300|         52.950665|9.721183814992126E-6|
|2012-01-30|60.470001|    61.32|60.349998|61.299999| 7636900|         53.465257|8.029436027707578E-6|
|2012-01-31|61.529999|    61.57|60.580002|61.360001| 9761500|53.517590000000006|6.307432259386365E-6|
+----------+---------+---------+---------+---------+--------+------------------+--------------------+
only showing top 20 rows

In [84]:
df2.select(df2["Date"]).orderBy(df2["High"].desc()).show(1)

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+
only showing top 1 row

In [87]:
df2.orderBy(df2["High"].desc()).head(1)[0][0]

'2015-01-13'

In [100]:
df2.select(F.avg("Close"),F.mean("Volume"),F.max("Volume")).show()

+-----------------+-----------------+-----------+
|       avg(Close)|      avg(Volume)|max(Volume)|
+-----------------+-----------------+-----------+
|72.38844998012719|8222093.481717011|   80898100|
+-----------------+-----------------+-----------+

In [108]:
df2.select("Date").where(df2["Close"]<60).count()

81

In [109]:
(df2.select("Date").where(df2["High"]>80).count())/df2.count()

0.09141494435612083

In [116]:
df2.groupBy(F.year(df2["Date"])).agg(F.max(df2["High"])).show()

+----------+---------+
|year(Date)|max(High)|
+----------+---------+
|      2013|81.370003|
|      2014|88.089996|
|      2012|77.599998|
|      2015|90.970001|
|      2016|75.190002|
+----------+---------+

In [118]:
df2.groupBy(F.month(df2["Date"])).agg(F.avg(df2["Close"])).show()

+-----------+-----------------+
|month(Date)|       avg(Close)|
+-----------+-----------------+
|         12|72.84792478301885|
|          1|71.44801958415842|
|          6|72.49537742452831|
|          3|71.77794377570092|
|          5|72.30971688679246|
|          9|72.18411785294116|
|          4|72.97361900952382|
|          8|73.02981855454544|
|          7|74.43971943925233|
|         10|71.57854545454545|
|         11|72.11108930693068|
|          2|71.30680444329897|
+-----------+-----------------+